---
layout: splash
title: Hi, I'm Pravesh
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/Chicago.jpg
excerpt: "An IT professional with 20+ years of experience in application development, DevOps, and infrastructure management."
intro:
  - excerpt: "I'm passionate about coding, blogging, open source, and emerging technologies like IoT and home automation. Explore my [resume](resume.html), connect on [LinkedIn](https://www.linkedin.com/in/pjsoni), or check out my work on GitHub. Read my blog for technical insights and thoughts on software development."
---

{% include feature_row id="intro" type="center" %}
<!-- Explore my <a href=resume.html>resume</a>, connect on <a href="">LinkedIn</a>,
 or check out my work on <a href="https://github.com/pjsoni">GitHub</a>. Read my blog for technical 
 insights and thoughts on software development. -->


<h2>Latest Posts</h2>
 <!-- <div class="feature__wrapper"> -->
  {% for post in site.posts limit:6 %}
    <!-- <div class="feature__item"> -->
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <!-- </div> -->
  {% endfor %}
  <!-- </div> -->