{{- $destination := .Destination -}}

{{- if strings.HasPrefix $destination "/assets/" -}}
  {{- $path := strings.TrimPrefix $destination "/assets/" -}}
  {{- $resource := resources.Get $path -}}

  {{- if $resource -}}
    <img
      src="{{ $resource.RelPermalink }}"
      alt="{{ .Text }}"
      {{- with .Title }} title="{{ . }}"{{ end -}}
    >
  {{- else -}}
    <img
      src="{{ $destination | safeURL }}"
      alt="{{ .Text }}"
      {{- with .Title }} title="{{ . }}"{{ end -}}
    >
  {{- end -}}
{{- else -}}
  <img
    src="{{ $destination | safeURL }}"
    alt="{{ .Text }}"
    {{- with .Title }} title="{{ . }}"{{ end -}}
  >
{{- end -}}